
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.cls
bin
obj
*.db
*.db-shm
*.db-wal
*.dll
API/SyrianMedicineDB.db
API/SyrianMedicineDB.db-shm
API/SyrianMedicineDB.db-wal
